<nav class="navbar navbar-expand-lg" style="background-color: #a4b792">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
      <!-- Centered Brand -->
      <a
        href="/"
        class="navbar-brand mx-auto text-white text-decoration-none d-flex align-items-center"
      >
        <img
          src="{{ url_for('static', filename='icons/logo.png') }}"
          alt="Logo"
          width="40"
          height="32"
          class="me-2"
        />
        <span class="fs-4">MyHSC</span>
      </a>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/profile" class="nav-link"></a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link text-dark text-center"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
