<nav class="navbar navbar-expand-lg" style="background-color: #a4b792">
  <div class="container-fluid">
    <!-- Add ms-3 to move the brand to the right -->
    <a
      href="home.html"
      class="navbar-brand text-white text-decoration-none d-flex align-items-center ms-3"
    >
      <img
        src="{{ url_for('static', filename='icons/logo.png') }}"
        alt="Logo"
        width="40"
        height="32"
        class="me-2"
      />
      <span class="fs-4">MyHSC</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- All nav links moved to the right -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/home.html" class="nav-link" title="Home">Home</a>
        </li>
        <!-- Blogs -->
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
        <!-- Dropdown for Study -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Study
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Flashcards</a></li>
            <li>
              <a class="dropdown-item" href="/stopwatch.html">Stopwatch</a>
            </li>
            <li><a class="dropdown-item" href="#">Syllabus Tracking</a></li>
          </ul>
        </li>
        <!-- Profile Modal Trigger -->
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-link nav-link"
            data-bs-toggle="modal"
            data-bs-target="#profileModal"
          >
            &#x1F464;
          </button>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link text-dark text-center">&#x23FB;</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Profile Modal -->
<div
  class="modal fade"
  id="profileModal"
  tabindex="-1"
  aria-labelledby="profileModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content custom-modal-bg">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">My Profile</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p><strong>First Name:</strong> {{ user.first_name }}</p>
        <p><strong>Last Name:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <a href="/logout" class="btn btn-primary">Logout</a>
      </div>
    </div>
  </div>
</div>
