<div class="sidebar">
  <div class="d-flex flex-column flex-shrink-0 p-3 custom-sidebar">
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <img
        src="{{ url_for('static', filename='icons/logo.png') }}"
        alt="Logo"
        width="40"
        height="32"
        class="me-2"
      />
      <span class="fs-4">MyHSC</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <!-- Home Option-->
      <li class="nav-item">
        <a href="home.html" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#home" />
          </svg>
          Home
        </a>
      </li>
      <!-- Dashboard Option-->
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
          </svg>
          Dashboard
        </a>
      </li>
      <!-- Calendar Option-->
      <li>
        <a href="/calendar.html" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#table" />
          </svg>
          Calendar
        </a>
      </li>
      <!-- Organisation Tools Option-->
      <li class="nav-item">
        <a
          class="nav-link text-white"
          href="#"
          id="organisationToolsLink"
          role="button"
        >
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#grid" />
          </svg>
          Tools
        </a>
      </li>

      <!-- Profile Option-->
      <li>
        <a href="/profile" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#people-circle" />
          </svg>
          Profile
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content custom-modal-bg">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Tools</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Blogs Option-->
          <div class="col-md-6 custom-card">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Blogs</h5>
                <p class="card-text">
                  Expand your knowledge with our range of blogs from study
                  techniques to exam strategies to ace your HSC!
                </p>
                <a href="/blogs" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
          <!-- Study Tools Option-->
          <div class="col-md-6 custom-card">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Study Tools</h5>
                <p class="card-text">
                  Maximise your study efficiency with our interactive study
                  tools! From flashcards to syllabus tracking personalised for
                  your own subjects.
                </p>
                <a href="#" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var organisationToolsLink = document.getElementById(
        "organisationToolsLink"
      );
      organisationToolsLink.addEventListener("click", function (event) {
        event.preventDefault();
        var modal = new bootstrap.Modal(
          document.getElementById("exampleModal")
        );
        modal.show();
      });

      document
        .getElementById("studyToolsButton")
        .addEventListener("click", function () {
          window.location.href = "/study-tools";
        });

      document
        .getElementById("blogsButton")
        .addEventListener("click", function () {
          window.location.href = "/blogs";
        });
    });
  </script>
</div>
