<div class="sidebar">
  <div class="d-flex flex-column flex-shrink-0 p-3 custom-sidebar">
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <img
        src="{{ url_for('static', filename='icons/logo.png') }}"
        alt="Logo"
        width="40"
        height="32"
        class="me-2"
      />
      <span class="fs-4">MyHSC</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <!-- Home Option-->
      <li class="nav-item">
        <a href="home.html" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#home" />
          </svg>
          Home
        </a>
      </li>
      <!-- Dashboard Option-->
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
          </svg>
          Dashboard
        </a>
      </li>
      <!-- Calendar Option-->
      <li>
        <a href="/calendar.html" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#table" />
          </svg>
          Calendar
        </a>
      </li>
      <!-- Profile Option-->
      <li>
        <a href="/profile" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#people-circle" />
          </svg>
          Profile
        </a>
      </li>
      <hr class="solid" />

      <!-- Study Tools-->
      <li class="nav-item">
        <a
          class="nav-link text-white"
          href="#"
          id="organisationToolsLink"
          role="button"
        >
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#grid" />
          </svg>
          Study Tools
        </a>
      </li>

      <!--Blogs-->
      <li class="nav-item">
        <a
          class="nav-link text-white"
          href="/blogs"
          id="organisationToolsLink"
          role="button"
        >
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#grid" />
          </svg>
          Blogs
        </a>
      </li>
    </ul>
    <hr />
    <!-- Logout Button -->
    <div class="d-flex justify-content-start mt-3">
      <a href="/login" class="btn btn-outline-secondary text-white">Logout</a>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content custom-modal-bg">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Interactive Study Tools
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Placeholder Option-->
          <div class="col-md-6 custom-card">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Flashcards</h5>
                <p class="card-text">[placeholder text]</p>
                <a href="#" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
          <!-- Study Tools Option-->
          <div class="col-md-6 custom-card">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Syllabus Tracking</h5>
                <p class="card-text">[placeholder text]</p>
                <a href="#" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var organisationToolsLink = document.getElementById(
        "organisationToolsLink"
      );
      organisationToolsLink.addEventListener("click", function (event) {
        event.preventDefault();
        var modal = new bootstrap.Modal(
          document.getElementById("exampleModal")
        );
        modal.show();
      });

      document
        .getElementById("studyToolsButton")
        .addEventListener("click", function () {
          window.location.href = "/study-tools";
        });

      document
        .getElementById("blogsButton")
        .addEventListener("click", function () {
          window.location.href = "/blogs";
        });
    });
  </script>
</div>
