{% extends 'layout1.html' %} {% block content %} {% include
"partials/svg_symbols.html" %}

  <main class="container d-flex justify-content-center">
    <div class="row g-5" style="margin-left: 20px;">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class="display-5 link-body-emphasis mb-1">Addressing the Verb</h2>
          <p class="blog-post-meta">April 21, 2025 by <a href="#">MyHSC</a></p>

          <p>
            Do you find yourself unable to gain full marks when answering an exam question? Maybe its because you have not addressed what the key verb is asking of you. 
            Below is a table of 5 the NESA key verbs, mark range, what they are asking and some synonyms that may appear in the exam: 
          </p>
          <hr />
          <p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Verb</th>
      <td class="table-success">Identify &#x1F50E;</td>
      <td class="table-primary">Describe &#x1F4DD;</td>
      <td class="table-warning">Explain &#x1F4AC; </td>
      <td class="table-danger">Analyse &#x1F9E0; </td>
      <td class="table-info">Evaluate &#x2696;&#xFE0F;</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Marks</th>
      <td class="table-success">1-2</td>
      <td class="table-primary">1-3 </td>
      <td class="table-warning" >2-3</td>
      <td class="table-danger">3-4</td>
      <td class="table-info"> 5-6+</td>
    </tr>
    <tr>
      <th scope="row">What is it asking?</th>
      <td class="table-success">List ideas</td>
      <td class="table-primary">What</td>
      <td class="table-warning">How</td>
      <td class="table-danger">Why</td>
      <td class="table-info">Judgement</td>
    </tr>
    <tr>
      <th scope="row">Synonyms</th>
      <td class="table-success"><ul>
  <li>Classify</li>
  <li>Outline</li>
  <li>Define</li>
  <li>Identify</li>
  <li>List</li>
  <li>Recall</li>
  <li>Recount</li>
  <li>Recognise</li>
</ul></td>
      <td class="table-primary"><ul>
  <li>Clarify</li>
  <li>Classify</li>
  <li>Contrast</li>
  <li>Describe</li>
  <li>Discuss</li>
  <li>Extract</li>
  <li>Exemplify</li>
</ul></td>
<td class="table-warning"><ul>
  <li>Account</li>
  <li>Elaborate</li>
  <li>Explain</li>
  <li>Explore</li>
  <li>Compare</li>
  <li>Demonstrate</li>
  <li>Interpret</li>
</ul></td>
<td class="table-danger"><ul>
  <li>Apply</li>
  <li>Compare</li>
  <li>Construct</li>
  <li>Contrast</li>
  <li>Distinguish</li>
  <li>Examine</li>
  <li>Extrapolate</li>
  <li>Discss</li>
  <li>Interpret</li>
  <li>Predict</li>
  <li>Synthesise</li>
</ul></td>
<td class="table-info"><ul>
  <li>Assess</li>
  <li>Compare</li>
  <li>Contrast</li>
  <li>Investigate</li>
  <li>Justify</li>
  <li>Propose</li>
  <li>Recommend</li>
</ul></td>
    </tr>
  </tbody>
</table>

          </p>
        </article>
      </div>
    </div>
  </main>
</div>
{% endblock %} 