{% extends 'layout1.html' %} {% block content %} {% include
"partials/svg_symbols.html" %}

  <main class="container d-flex justify-content-center">
    <div class="row g-5" style="margin-left: 20px;">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class="display-5 link-body-emphasis mb-1">About MyHSC</h2>

          <p>
        [Placeholder for the purpose of MyHSC]
          </p>
          <hr />
        </article>
      </div>
    </div>
  </main>
</div>
{% endblock %} 