{% extends 'layout.html' %} {% block content %} {% include
"partials/svg_symbols.html" %}
<div class="container-fluid custom-content m-0 p-0">
  <main class="container" style="margin-top: 4.5rem;">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-bloghome">
      <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Where do I start?</h1>
        <p class="lead my-3">
          Are you finding yourself wondering what to actually start studying?
          Here are some tips to help you study smarter, not harder and get
          started on that to do list...
        </p>
        <p class="lead mb-0">
          <a href="wheredoistart.html" class="text-body-emphasis fw-bold"
            >Continue reading...</a
          >
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-180 position-relative"
          style="min-height: 180px; height: 220px;"
        >
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis"
              >Exam Strategies</strong
            >
            <h3 class="mb-0">Exam Study Plan</h3>
            <div class="mb-1 text-body-secondary">July 04 2025</div>
            <p class="card-text mb-auto" style="font-size: 1rem;">
              Struggling to plan your study before exams? Use this guide to get
              started!
            </p>
            <a href="/examstudyplan.html" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading...
              <svg class="bi" aria-hidden="true">
                <use xlink:href="#chevron-right" />
              </svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img
              src="{{ url_for('static', filename='images/examstudyplan.png') }}"
              alt="Exam Study Plan"
              class="bd-placeholder-img"
              width="170"
              height="180"
              style="object-fit: cover;"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-180 position-relative"
          style="min-height: 180px; height: 220px;"
        >
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success-emphasis"
              >Goals</strong
            >
            <h3 class="mb-0">Goal Setting Tips</h3>
            <div class="mb-1 text-body-secondary">Jun 19 2025</div>
            <p class="mb-auto" style="font-size: 1rem;">
              Discover practical tips for breaking down big ambitions into manageable milestones, staying motivated, and tracking your progress.
            </p>
            <a href="goals.html" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading...
              <svg class="bi" aria-hidden="true">
                <use xlink:href="#chevron-right" />
              </svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img
              src="{{ url_for('static', filename='images/goals.png') }}"
              alt="Goal Setting Tips"
              class="bd-placeholder-img"
              width="150"
              height="180"
              style="object-fit: cover;"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row g-5">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class="display-5 link-body-emphasis mb-1">Study Strategies</h2>
          <p class="blog-post-meta">May 12, 2025 by <a href="#">MyHSC</a></p>

          <p>
            Crack the Code to Effective Learning and Stay Ahead!
          </p>
          <hr />
          <p>
            The HSC can feel overwhelming—but with the right strategies, it's not only manageable, 
            it’s conquerable. Whether you're in Year 11 building habits or deep in Year 12 prepping 
            for trials, smart study strategies can dramatically improve your focus, retention, and results. 
            Here’s a breakdown of powerful, practical techniques that successful HSC students swear by.
          </p>
          <h2>🧠1. Set SMART Goals</h2>
          <p><strong>Specific, Measurable, Achievable, Relevant, Time-bound</strong>. These aren’t just buzzwords—they’re 
            the foundation of efficient HSC prep. Break down your syllabus into weekly goals 
            (e.g. “Complete Module A Essay Plan by Friday”) and use trackers to stay accountable. Read more in our goal setting blog.</p>
            <pre><code>Tip!: Use a digital planner or HSC study app to visualise your goals over time.</code></pre>
          <h2>⏱️ 2. Use the Pomodoro Technique</h2>
          <p>Stay focused using short bursts of concentration:</p>
          <ul>
            <li>Study for 25 minutes</li>
            <li>Take a 5-minute break</li>
            <li>After 4 cycles, take a longer break (15-30 minutes)</li>
          </ul>
          <p>This prevents burnout and makes study feel less draining. There is no stringent time frame, adjust the times to what suits your study habits best.</p>
          <pre><code>Tip!: Try out our built in timer and stopwatch to track the timings of your studies.</code></pre>
          <h2>🧩 3. Practice Active Recall</h2>
          <p>Instead of just reading the content and highlighting key words hoping to memorise them by the time the exam comes around, try actively recalling these key words. 
            Active recall forces your brain to retrieve information, a process neccessary in exams, so why not practice it now and get used to the process? 
            <pre>Tip!: Check out our flashcards to help with active recall targeted to specific subjects and modules</pre>
          </p>
          <h2>📚 4. Study with the Syllabus in Mind</h2>
          <p>Your subject syllabus is the key for what you can be examined on. Every exam question is within the scope of the syllabus, so by understanding 
            it you can effectively allocate your time to what is actually being assessed and ensure all neccessary content is covered. It is useful to align your
            notes and practice questions with the syllabus dot points as it is your exam blueprint. 
            <pre>Tip!: We offer a syllabus tracker that allows you to track your confidence with each dot point in the 
      syllabus to help you systematically identify gaps in your knowledge and identify areas for 
      further revision.</pre>

          <h2> 🧊 5. Apply C.U.B.E. Method for Exam Questions</h2>
          <p>
            When tackling exam questions, use the C.U.B.E. method:
            <ul>
              <li><strong>C</strong>ircle the command verb</li>
              <li><strong>U</strong>nderline key terms</li>
              <li><strong>B</strong>reak down the question into parts</li>
              <li><strong>E</strong>xplain your answer clearly</li>
            </ul>
            <p>Learn more about the C.U.B.E. method in our blog. </p>
            <pre>Tip!: Practice C.U.B.E. with practice questions and past papers to get into the habit. </pre>
        </article>
      </div>

      <div class="col-md-4">
        <div class="position-sticky" style="top: 7rem">
          <div class="p-4 mb-4 rounded shadow-sm" style="background: #ebded4">
            <h4 class="fst-italic mb-3">Recent posts</h4>
            <ul class="list-unstyled mb-0">
              <li class="mb-3">
                <a
                  class="d-flex align-items-center gap-3 text-decoration-none link-body-emphasis"
                  href="addressverb.html"
                >
                  <img
                    src="{{ url_for('static', filename='images/addressverb.png') }}"
                    alt="Addressing the Verb"
                    class="rounded"
                    style="width: 56px; height: 56px; object-fit: cover"
                  />
                  <div>
                    <h6 class="mb-0">Addressing the Verb</h6>
                    <small class="text-body-secondary">April 10, 2025</small>
                  </div>
                </a>
              </li>
              <li class="mb-3">
                <a
                  class="d-flex align-items-center gap-3 text-decoration-none link-body-emphasis"
                  href="decon_eq.html"
                >
                  <img
                    src="{{ url_for('static', filename='images/decon.png') }}"
                    alt="Deconstructing Exam Questions"
                    class="rounded"
                    style="width: 56px; height: 56px; object-fit: cover"
                  />
                  <div>
                    <h6 class="mb-0">Deconstructing Exam Questions</h6>
                    <small class="text-body-secondary">January 14, 2024</small>
                  </div>
                </a>
              </li>
              <li>
                <a
                  class="d-flex align-items-center gap-3 text-decoration-none link-body-emphasis"
                  href="cube.html"
                >
                  <img
                    src="{{ url_for('static', filename='images/CUBE.png') }}"
                    alt="C.U.B.E."
                    class="rounded"
                    style="width: 56px; height: 56px; object-fit: cover"
                  />
                  <div>
                    <h6 class="mb-0">C.U.B.E.</h6>
                    <small class="text-body-secondary">May 06, 2025</small>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="p-4 mb-4 rounded shadow-sm" style="background: #ebded4">
            <h4 class="fst-italic">MyHSC</h4>
            <p class="mb-0">
              MyHSC is a platform for Year 12 students to take control of their
              HSC and learn more study strategies, exam techniques and tools to
              help them succeed in their final year of highschool.
            </p>
          </div>
          <div class="p-4 rounded shadow-sm" style="background: #ebded4">
            <h4 class="fst-italic">Elsewhere</h4>
            <ol class="list-unstyled mb-0">
              <li>
                <a
                  href="https://educationstandards.nsw.edu.au/wps/portal/nesa/11-12/Understanding-the-curriculum/syllabuses-a-z"
                  >NESA Stage 6 Syllabus</a
                >
              </li>
              <li>
                <a
                  href="https://educationstandards.nsw.edu.au/wps/portal/nesa/11-12/resources/hsc-exam-papers"
                  >NESA Offical Past Papers</a
                >
              </li>
            </ol>
          </div>
        </div>

        {% endblock %}
      </div>
    </div>
  </main>
</div>
