{% extends 'layout.html' %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-3" style="white-space: nowrap">Flashcards</h1>
      <h4 class="text-center mb-5">What would you like to study today?</h4>
    </div>
  </div>
  <div class="row justify-content-center g-4">
    <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center">
      <a
        href="bioflashcards.html"
        class="btn btn-outline-success w-100 rounded-pill py-4 fs-4 shadow-sm"
        >Biology</a
      >
    </div>
    <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center">
      <a
        href="/comingsoon.html"
        class="btn btn-outline-primary w-100 rounded-pill py-4 fs-4 shadow-sm"
        >Physics</a
      >
    </div>
    <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center">
      <a
        href="/comingsoon.html"
        class="btn btn-outline-danger w-100 rounded-pill py-4 fs-4 shadow-sm"
        >Advanced Math</a
      >
    </div>
    <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center">
      <a
        href="/comingsoon.html"
        class="btn btn-outline-warning w-100 rounded-pill py-4 fs-4 shadow-sm"
        >Advanced English</a
      >
    </div>
    <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center">
      <a
        href="/comingsoon.html"
        class="btn btn-outline-secondary w-100 rounded-pill py-4 fs-4 shadow-sm"
        >Design and Technology</a
      >
    </div>
    <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center">
      <a
        href="/comingsoon.html"
        class="btn btn-outline-dark w-100 rounded-pill py-4 fs-4 shadow-sm"
        >Software Engineering</a
      >
    </div>
  </div>
</div>
{% endblock %}
