{% extends 'layout.html' %} {% block content %} {% include
"partials/svg_symbols.html" %} {% include "partials/sidebar.html" %}
<div class="container custom-content">
  <h1 class="display-4">Welcome to MyHSC</h1>
  <p class="lead">
    This website allows HSC students to effectively track their studies through
    features that are directly linked to the Stage 6 Syllabus.
  </p>
  <p>
    Log in or create an account today to get started and unlock your potential
    with this helpful tool!
  </p>
</div>
{% endblock %}
