{% extends 'layout.html' %} {% block content %}
<link
  href="{{ url_for('static', filename='css/carousel.css') }}"
  rel="stylesheet"
/>
<main>
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg
          class="bd-placeholder-img"
          width="100%"
          height="500px"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          preserveAspectRatio="xMidYMid slice"
        >
          <rect width="100%" height="100%" fill="#909c89" />
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Deconstructing Exam Questions</h1>
            <p class="opacity-75">
              Unsure how to answer exam questions? Learn some tips and tricks
              with this blog to help you understand how to break down exam
              questions and answer them effectively.
            </p>
            <p>
              <a class="btn btn-lg btn-secondary" href="decon_eq.html"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg
          class="bd-placeholder-img"
          width="100%"
          height="500px"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          preserveAspectRatio="xMidYMid slice"
        >
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>
              Some representative placeholder content for the second slide of
              the carousel.
            </p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg
          class="bd-placeholder-img"
          width="100%"
          height="500px"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          preserveAspectRatio="xMidYMid slice"
        >
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
        </svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>
              Some representative placeholder content for the third slide of
              this carousel.
            </p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <img
          src="{{ url_for('static', filename='images/CUBE.png') }}"
          alt="C.U.B.E."
          class="bd-placeholder-img"
          style="width: 96px; height: 96px; object-fit: cover"
        />
        <h2 class="fw-normal">C.U.B.E.</h2>
        <p>
          The C.U.B.E. strategy is a simple and effective exam technique that
          helps students break down and understand questions before answering.
        </p>
        <p>
          <a class="btn btn-secondary" href="cube.html">View details &raquo;</a>
        </p>
      </div>
      <div class="col-lg-4">
        <img
          src="{{ url_for('static', filename='images/addressverb.png') }}"
          alt="address the verb"
          class="bd-placeholder-img"
          style="width: 96px; height: 96px; object-fit: cover"
        />
        <h2 class="fw-normal">Address the Verb</h2>
        <p>
          Have your teachers ever told you to "address the verb" in your exam
          answers? Well what do any of the verbs actually mean? This blog will
          further explore what each verb translates to in terms of marks and how
          to use them to your advantage.
        </p>
        <p>
          <a class="btn btn-secondary" href="addressverb.html"
            >View details &raquo;</a
          >
        </p>
      </div>
      <div class="col-lg-4">
        <img
          src="{{ url_for('static', filename='images/goals.png') }}"
          alt="goalsetting"
          class="bd-placeholder-img"
          style="width: 96px; height: 96px; object-fit: cover"
        />
        <h2 class="fw-normal">Goal Setting</h2>
        <p>
          Struggling to achieve your goals? This blog will help you understand
          why you may not be achieving your goals and help you set SMART goals
          that are specific, measurable, achievable, relevant, and time bound.
        </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
