{% extends 'layout.html' %}
{% block content %}
    <link href="/static/css/style.css" rel="stylesheet">

    {% include "partials/svg_symbols.html" %}

    <div class="d-flex">
        {% include "partials/sidebar.html" %}
        <div class="container custom-content">
            <h1 class="display-4">Welcome to MyHSC</h1>
            <p class="lead">This is sample text/placeholder for a web application that allows students to track their studies for the HSC. </p>
        </div>
    </div>

{% endblock %}