{% extends 'layoutsl.html' %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <h1 class="display-1"></h1>
  </div>
  <div
    class="container mt-5 mb-5"
    style="margin-top: 200px; margin-bottom: 150px"
  >
    <div class="row">
      <div class="col-md-6">
        <div class="text-container">
          <h2>Welcome to MyHSC</h2>
          <p>
            This website allows HSC students to effiectively track their studies
            through features that are directly linked to the Stage 6 Syllabus.
          </p>
          <p>
            Log in or create an account today to get started and unlock your
            potential with this helpful tool!
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <form id="loginForm" method="POST" action="{{ url_for('login') }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input
              name="email"
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter your email"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
            <!-- Checkbox to toggle password visibility -->
            <input type="checkbox" onclick="togglePasswordVisibility()" /> Show
            Password
          </div>
          <div class="mb-3">
            <a href="{{ url_for('signup') }}">Sign Up</a>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function togglePasswordVisibility() {
    var passwordInput = document.getElementById("password");
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
    } else {
      passwordInput.type = "password";
    }
  }
</script>
{% endblock %}
