{% extends 'layout.html' %} {% block content %} {% include
"partials/svg_symbols.html" %} {% include "partials/sidebar.html" %}
<div class="container custom-content">
    <title>Profile</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Profile</h1>
      <p><strong>First Name:</strong> {{ user.first_name }}</p>
      <p><strong>Last Name:</strong> {{ user.last_name }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
    </body>
</div>
{% endblock %}
